.parallax {
  background-image: url("images/background1.jpg");
  height: 1500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*red and black style box with outline*/
p.redblackstyle {
    background-color:black;
    align:center;
    color:red;
    padding:50px;
    width:70%;
    outline-style:solid;
    outline-color:red;
}